<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        Hello <%= username %>
        <br>
        Here is the response of the internal system: <%= internalSystemResponse %>
    </body>
</html>
