<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>League Of Harokopio</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">League Of Harokopio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resolved">Resolved Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pending">Pending Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/premium">Premium Area</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
        <div class="navbar-nav nav-item">
          <a class="nav-link" href="/login">Login</a>
        </div>
        <!-- <div class="navbar-nav nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </div> -->
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3 class="display-3">League Of Harokopio</h3>
          <p><h4>League Of Legends Stats for Cool <del>Kids</del> Men. </h4></p>
          <p><h5>Improve your game today!</h5></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Get your League of Legends Statistics.</h2>
            <p>Our high-end systems in partnership with Rito Games cooperate to bring you the most accurate match statistics you can have.</p>
          </div>
          <div class="col-md-4">
            <h2>Fast Services!</h2>
            <p>League Of Harokopio admins will approve your requests on the fly! (probably not).</p>
          </div>
          <div class="col-md-4">
            <h2>Premium Benefits!</h2>
            <p>Become a premium user and access incredible synchronous services (for the low price of your credit card information!).</p>
            <p><a class="btn btn-secondary" href="/gopremium" role="button">Go Premium!</a></p>
          </div>
          <div class="col-md-4">
            <h2>Get Started.</h2>
            <p>Get started with League Of Harokopio and increase your winrate TODAY!</p>
            <p><a class="btn btn-secondary" href="/services" role="button">View Services</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; League Of Harokopio 2020-2021</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   
  </body>
</html>
