<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Profile - League Of Harokopio</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">League Of Harokopio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resolved Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pending Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Premium Area</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
        <div class="navbar-nav nav-item">
          <a class="nav-link" href="#">Logout</a>
        </div>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <table class="table">
          <tbody>
            <br>
            <br>
            <tr>
              <td style="width: 16.66%" id="username">Username:</td>
              <td id="usernameInput">xxSorinxx</td>
            </tr>
            <tr>
              <td id="firstname">First Name:</td>
              <td id="firstnameInput">Sorin</td>
            </tr>
            <tr>
              <td id="lastname">Last Name:</td>
              <td id="lastnameInput">Markov</td>
            </tr>
            <tr>
              <td id="summonername">Summoner Name:</td>
              <td id="summonernameInput">YourTFTYasu</td>
            </tr>
            <tr>
              <td><button class="btn btn-secondary" id="changeDetailsButton">Change Details</button></td>
              <td id="updateButtonArea"></td>
            </tr>
          </tbody>
        </table>
        <div id="statusArea"></div>
      </div>

      
    </main>

    <footer class="container">
      <p>&copy; League Of Harokopio 2020-2021</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../public/js/changeProfileDetails.js"></script>
  </body>
</html>
