<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Deletion Panel - League Of Harokopio</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">League Of Harokopio - Admin Deletion Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="navbar-nav nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </div>
        </div>
      </nav>

    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Admin ID</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% if(Admins){ %>
              <% for(let i=0; i < Admins.length; i++) { %>
                <tr>
                  <td><%= Admins[i].id%></td>
                  <td><button style="margin-left: 2%;" class="delete-button btn btn-secondary" id="<%= Admins[i].id%>">Deny</button></td>
                </tr>
             <% } %>
             <% } %>
            </tbody>
          </table>
      </div>      
    </main>

    <footer class="container">
      <p>&copy; League Of Harokopio 2020-2021</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/admin/deleteAdmin.js"></script>
  </body>
</html>
