<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Control Panel - League Of Harokopio</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">League Of Harokopio - Internal Control Panel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <table class="table">
          <tbody>
            <br>
            <br>
            <tr>
              <td style="width: 1%" id="username">Username:</td>
              <td><input id="usernameInputField"></td>
            </tr>
            <tr>
                <td id="email">Password:</td>
                <td><input type="password" id="passwordInputField"></td>
            </tr>
            <tr>
              <td><button class="btn btn-secondary" id="loginButton">Login</button></td>
              <td style="padding-top: 1%;"><div id="resultField"></div></td>
            </tr>
          </tbody>
        </table>
    </div>
    </main>

    <footer class="container">
      <p>&copy; League Of Harokopio 2020-2021</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
