#loginForm{
    background-color: rgba(0, 0, 0, 0.383);

    border-radius: 5%;

    padding: 0.6%;

    margin-left: 43%;
    display: inline-block;
}

#resultField{
    margin-left: 28%;
    color: #9c4186;
}

h1{
    color: #9c4186;
    margin-left: 43.4%;
    margin-top: 8%;

    background-color: rgba(0, 0, 0, 0.383);
    border-radius: 5%;
    padding: 0.7%;
    display: inline-block;

}
